<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/general.css}" rel="stylesheet">
  <link th:href="@{/css/register.css}" rel="stylesheet">

</head>

<body>

  <header>

    <nav>
     <div class="sidenav">
        <a class="closebtn">&times;</a>
        <a th:href="@{/login}">Iniciar Sesión</a>
        <a th:href="@{/register}">Registrarse</a>
        <a th:href="@{/}">Inicio</a>
      </div>
      
      <div>
        <img th:src="@{/media/img/menu.png}" alt="menu">
        <p>
          <strong>Event</strong><strong>App</strong>
        </p>
      </div>
  
    </nav>


  </header>
   
  <form th:action="@{/register/save}" th:object=${usuarioDTO} method="post">
   
    <div>
      <h2>Rellena tus datos</h2>
    </div>
      <div>
        <input type="text" name="first_name" th:field="*{nombre}" placeholder="Nombre">
      </div>
      <div>
        <input type="text" name="last_name" th:field="*{apellidos}" placeholder="Apellidos">
      </div>
      <div>
        <input type="text" name="nif" th:field="*{nif}" placeholder="NIF/NIE">
      </div>
      <div>
        <input type="text" name="telephone" th:field="*{telefono}" placeholder="Teléfono">
      </div>
      <div>
        <input type="text" name="street" th:field="*{direccionDTO.calle}" placeholder="Calle">
      </div>
      <div>
        <input type="text" name="number" th:field="*{direccionDTO.numero}" placeholder="Nº">
      </div>
      <div>
        <input type="text" name="city" th:field="*{direccionDTO.ciudad}" placeholder="Ciudad">
      </div>
      <div>
        <input type="text" name="postal_code" th:field="*{direccionDTO.cp}" placeholder="Código postal">
      </div>
      <div>
        <input type="email" name="email" th:field="*{email}" placeholder="Email">
      </div>
      <div>
        <input type="email" name="email2" placeholder="Confirmar Email">
      </div>
      
      <div>
        <input type="text" name="username" th:field="*{nombreUsuario}" placeholder="Nombre de usuario">
      </div>
      <div>
        <input type="password" name="password" th:field="*{claveAcceso}" placeholder="Contraseña">
      </div>
      <div>
        <input type="password" name="password2" placeholder="Confirmar contraseña">
      </div>
      <div>
        <button type="submit">Registrarse</button>
        <label>¿Ya tienes cuenta? <a th:href="@{/login}">Inicia Sesión</a></label>
      </div>
    </form>

    <footer>
      <p>Copyright <strong>Event</strong><strong>App</strong> , todos los derechos reservados.</p>
    </footer>


  <script th:src="@{/js/jquery-3.6.3.js}" ></script>
  <script th:src="@{/js/script.js}" ></script>
</body>

</html>